:root {
    --primary-color: #4A90E2;
    --secondary-color: #7CB342;
    --white: #ffffff;
    --light-gray: #f8f9fa;
    --text-dark: #333333;
    --text-light: #666666;
    --border-color: #e0e0e0;
    --grey:#F3F3F2;
    --modra:#124395;
    --hnusna-zelena:#779A19;
    --pekna-zelena:#BFE458;
    --border-modra:#8DB2F1;
    --negr-baner:#10100fbe;
    --dalsi-modra:#007DB3;
    --tmava-modra:#0E3476;
    --bg-modra:#124395;
}